<!DOCTYPE html>
<html>
<head>
</head>
<body>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <% include("../partials/head") %>
</head>
<body class="container">

<header>
    <% include("../partials/header") %>
</header>

<main>
    <div class="container">
        <h1 class="header">Pagespeed Insights</h1>
        <a class="btn btn-primary" href="/import">Import URLs!</a>
    </div>
</main>

<footer>
    <% include("../partials/footer") %>
</footer>

<% include("../partials/footer_scripts") %>
</body>
</html>